<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>users</title>
  </head>
  <body>
    <h1>users are</h1>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>EMAIL</th>
        <th>USERNAME</th>
      </tr>
      <% for(let user of result){ %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td>
          <form action="/user/<%=user.id%>/edit" method="get">
            <button>edit username</button>
          </form>
        </td>
        <td>
            <form action="/user/<%=user.id%>/delete" method="get">
              <button>delete user</button>
            </form>
          </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
